* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #333;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --scale: 1;
    --blur:  0px;
    --invert:  0%;
    --sepia: 0%;
    --saturate: 100%;
    --hue-rotate: 0deg;
    --brightness: 100%;
    --contrast: 100%;
    --grayscale: 0%;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 52px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
}

img {
    width: 100%;
    max-width: 100%;
    /*height: 100%;*/
    max-height: 100%;
    object-fit: contain;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.body {
    background: radial-gradient(ellipse at top, #f1aa69, transparent),
    radial-gradient(ellipse at bottom, #a548eb, transparent);
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-height: 800px;
    height: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.hide {
    display: none;
}

.text--center {
    text-align: center;
}

.text--middle {
    font-size: 40px;
}

.text--small {
    font-size: 10px;
}

.text--white {
    color: #fff;
}

.text--block {
    display: block;
}

/* app */
.app {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}

.app__title {
    padding-bottom: 60px;
    text-align: center;
    color: inherit;
}

.app__title-text {
    color: inherit;
}

.app__inner {
    display: flex;
    justify-content: center;
    position: relative;
}

.app__col-left {
    width: 30%;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.app__col-right {
    width: 60%;
    padding-left: 60px;
}

.app__button {
    padding: 10px 30px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.app__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.app__button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

/* filters */
.app__filers-row {
    padding: 10px;
}

.app__filters-reset {
    width: 100%;
}

/* preview */
.app__preview {
    display: flex;
    align-items: flex-start;
    height: 600px;
}

.app__preview-img {
    transform: scale(var(--scale, 1));

    filter:
            blur(var(--blur, 0px))
            invert(var(--invert, 0%))
            sepia(var(--sepia, 0%))
            saturate(var(--saturate, 100%))
            hue-rotate(var(--hue-rotate, 0deg))
            brightness(var(--brightness, 100%))
            contrast(var(--contrast, 100%))
            grayscale(var(--grayscale, 0%));
}

/* presets */
.app__preview-presets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.app__preset {
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.app__preset:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.app__preset:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.app__preset--active,
.app__preset--active:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.app__preset-img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.app__preset--1 .app__image {
    filter : sepia(0.22) contrast(1.2) brightness(.9) grayscale(0.25);
}

.app__preset--2 .app__image {
    filter : sepia(0.25) contrast(1.2) brightness(1) grayscale(0.25);
}

.app__preset--3 .app__image {
    filter : sepia(0.09) contrast(1.2) brightness(.9) grayscale(0.1);
}

.app__preset--4 .app__image {
    filter : sepia(0.9) contrast(1.2) brightness(1) grayscale(0.55);
}

.app__preset--5 .app__image {
    filter : sepia(0.5) contrast(1) brightness(1) grayscale(0.75);
}

.app__preview-buttons {
    display: flex;
    justify-content: space-between;
}

.app__preview-button {
    width: 48%;
}



/* range */
.range {
    position: relative;
    padding-bottom: 10px;
}

.range__header {
    padding-bottom: 20px;
}

.range__title,
.range__value {
    font-size: 16px;
    color: #fff;
}

.range__field {
    display: block;
    position: relative;
}

.range__input {
    position: relative;
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
    z-index: 30;
}

.range__fill {
    width: 50%;
    background-color: #fff;
    z-index: 20;
}

.range__fill--0 {
    width: 0%;
}

.range__fill--10 {
    width: 10%;
}

.range__fill--100 {
    width: 100%;
}

.range__fill, .range__fill-bg {
    display: block;
    position: absolute;
    height: 2px;
    top: 0;
    border-radius: 10px;
}

.range__fill-bg {
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 10;
}

.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
